<h1>List of Teams</h1>

<%= link_to "Add A Team", new_team_url %>

<ul>
<% @teams.each do |team| %>
	<li>
		<a href = <%= team_url(team.id) %>><%= team.name %></a> <%= link_to "Delete", destroy_team_url(team.id), method: "delete" %><br />
		
		<% if team.bids.present? %>
			Winning Bidder: <%= User.find_by_id(team.bids.last.user_id).email %><br />
			Current Bid: $<%= team.bids.last.bid_amount %>
		<% else %>
			There have been no bids on this team...yet
		<% end %>	
		<div>
		
		
		<% if user_signed_in? %>
			<%= form_for @bid do |f| %>
				<%= f.label :bid_amount, "Bid: " %>
				<%= f.text_field :bid_amount %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :team_id, :value => team.id %>
				<%= f.submit "Place Bid" %>
			<% end %>	
		<% else %>
			You must be logged in to bid!
		<% end %>
	</li>	
<% end %>
</ul>

